.page-wrapper{
    margin: 0 8% 0 8%;
}

.header-container-LandingPage {
    margin-top: 100px;
    
}
.header-container-HomePage{
    display: flex;
    justify-content: space-around;
}
.logo img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.logo-slogane-container{
    display: block;
    text-align: center;
}
  /* ^^^  End of Header styling  ^^^ */ */

   .Menu {
    background-color: #f9f9f9;
  }
  
 nav.Menu {
    margin:50px 30px 50px 30px;
    background-color: #f9f9f9;
    padding: 10px 0;

}
  .menu-options {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
  }
  
  .options-hover{
    width: 170px;
    text-align: center;
    align-items: center;
    justify-content: center;
   position: relative;
  }
  #homePage-link{
    cursor: pointer;
  }
  #aboutUs-link{
    cursor: pointer;
  }
   #servicesPage-link {
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
  }
  #contactPage-link{
    cursor: pointer;
  }
  #dropdown-options {
    display: none;
    margin-left: 10px;
    list-style: none;
    padding: 0;
    width: 170px;
    border: 1px solid black;
    flex-direction: column;
    position: absolute;
    top: -50%;
    left: 20%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .dropdown.show #servicesPage-link {
    transform: translateX(-50%);
    display: block;
  }
  
  .dropdown.show #dropdown-options {
    transform: translateX(0);
    display: block;
  }
  

/* ^^^   End of Menu styling ^^^ */


  h1 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .content-container {
    display: flex;
    justify-content: space-between;
  }
  .content-LeftSide {
    flex: 1;
  }
 
.content-RightSide img{
    width: 240px;
    height: 240px;
}
.content-RightSide{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex: 2;
}

/* ^^^  End of Section Content styling ^^^ */



.contact-container {
  display: flex;
  justify-content: space-evenly;
}
.contact-LeftSide {
  flex: 1;
}
.contact-RightSide {
  flex: 2;
  position: relative;
  left: 10%;
}

.contact-RightSide input {
  display: block;
    width: 75%;
    height: 34px;
    resize: none; 
    overflow:scroll;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0 10px 0;
}
.contact-RightSide textarea {
  display: block;
    width: 75%;
    height: 90px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0 10px 0;
}

.captcha {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  position: relative;
  transform: translate(115%);
}

.captcha .preview {
  color:#555;
  width: 99%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  letter-spacing: 8px;
  border: 1px dotted #888;
  font-family: 'monospace';
}

.captch .preview span{
  display: inline-block;
  user-select: none;

}

.captcha .captcha-form {
  display: flex;
  width: 100%;
}

.captcha .captcha-form input {
  padding: 8px;
  border: 1px solid #888;
  width: 100%;
}

.captcha .captcha-form .captcha-refresh {
  width: 40px;
border: none;
outline: none;
background: #888;
color: #eee;
cursor:pointer;
}

section#contact-section #send-btn {
  position: relative;
  left: 45%;
  margin-top:5px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  text-transform: uppercase;
  background: #888;
  color: #fff;
  cursor: pointer;
}



/* ^^^^  End of Section Contact styiling ^^^^ */

footer {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .LegalStuff ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .LegalStuff ul li{
    margin: 12px;
  }
  .CopyrightAndLogo{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-logo img {
    max-width: 40px;
    height: auto;
  }
  
  .footer-copyright {
    text-align: right;
    margin: 15px;
  }
  

  /* Mobile responsive */



  @media only screen and (max-width: 600px) {
    .page-wrapper{
      margin: 0 4% 0 4%;
  }
  h1{
    font-size: 18px;
  }
    /* Header and Logo Styling */
    .header-container-LandingPage {
      margin-top: 40px;
  }
  .header-container-HomePage{
      display: block;
  }
  .logo img{
      height: 70px;
      width: 70px;
  }
  .logo-slogane-container{
      display: block;
      text-align: center;
      font-size: medium;
  }
  .contact-details{
    display: none;
  }
/* Menu styling */


  
 nav.Menu {
    margin:50px 0px 50px 0px;
    background-color: #e2dddd;
}
  .menu-options {
    padding: 0;
    /* font-size: 20px; */
  }
  #homePage-link:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  #aboutUs-link:hover{
    cursor: pointer;
    text-decoration: underline;
  }
   #servicesPage-link:hover {
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
    text-decoration: underline;
  }
  #contactPage-link:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  #dropdown-options {
    width: 140px;
    top: 100%;
    left: -35%;
    transform: translateY(100%);
  }
  
  .dropdown.show #servicesPage-link {
    transform: translateY(-50%);
    display: block;
  }
  

/* Content container styling */

    .content-container {
      display: block;
      justify-content: space-between;
    }
    .content-LeftSide {
      flex: 2;
    }
    .content-RightSide{
      flex: 1;
      display: block;
      justify-content: space-evenly;
      flex-direction: row;
  }
  .content-RightSide img{
      width: 150px;
      height: 150px;
      margin: 10px 0px 20px 10px
  }
  
  /* Contact container styling */
  .contact-container{
    display: block;
    /* justify-content: space-evenly; */
  }
  .contact-RightSide{
    margin: 40px 0px 20px 0px;
  }
  .form-info{
    font-size: small;
  }
.checkbox{
  font-size: small;
}
.captcha{
  width: 60%;
  transform: translate(35%);
}
section#contact-section #send-btn{
  left:40%
}
.footer-container{
  font-size: small;
}
.LegalStuff ul li{
  margin: 5px 0 5px 0;
}



  }